.outer {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.form-label {
    margin-bottom: 0.2rem;
}

.header-text {
    margin-bottom: 30px;
}

.inside-outer {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}